@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#2a2a2a];
}

h1 {
  @apply text-gray-100;
}

.main-layout {
  height: 100dvh;
  min-height: 100dvh;
}

.glass-morphism {
  border: 1px solid rgba(183, 183, 183, 0.837); /* Update with your desired border color */
  color: #fff; /* White font color */
  backdrop-filter: blur(10px);
}

.glass-morphism-dark {
  border: 1px solid rgba(0, 0, 0, 0.1); /* Update with your desired border color */
  color: #fff; /* White font color */
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 8px;
}
